<!--_menu 作为公共模版分离出去-->
<aside class="Hui-aside">

    <div class="menu_dropdown bk_2">

        {foreach $data as $item}
        <dl id="{{$item['title']}}">
            <dt><i class="Hui-iconfont">{{$item['icon']}};</i> {{$item['title']}}<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                {if count($item['son']>0)}
                <ul>
                    {foreach $item['son'] as $v}
                    <li id="li-{{$v['id']}}"><a href="{{$v['name']}}" title="{{$v['title']}}">{{$v['title']}}</a></li>
                    {/foreach}
                </ul>
                {/if}
            </dd>
        </dl>
        {/foreach}

    </div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--/_menu 作为公共模版分离出去-->